@charset "UTF-8";
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

 *{
    padding: 0px;
    margin: 0px;
 }

 body{
    height: 100vh;
    background-image: linear-gradient(120deg, #024873, #73204E);
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
 }
 .relogio{
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background-color: transparent;
    box-shadow: 0px 6px  8px #00000048;
 }

.relogio div{
    width: 170px;
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.626);
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 7px;   
    letter-spacing: 5px;
 }


 .relogio span{
    font-weight:  500;
    font-size: 60px;
 }
 span.tempo{
    font-size: 10px;
 }

 
 /* COMENTARIOS!!!!
 
(justify-content: center
display: flex; 
align-items: center;)
esses tres serve para alinhar o objeto ensse caso a div.
o display flex tem grande importancia nesse caso pois não se limita apenas ao formato box de caixa
letter-spacing: 5px; = o espaço entre as letras
flex-direction: column; = tyransforma em colunas
justify-content: space-around; = ele cria o espaço entre as divs com background preto

*/